# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly libraries that used by Data Scientists
* Create a markdown cell with a table in jupyter notebook
* examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: 
1. python
2. R
3. SQL
4. Java
5. julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. SciKit-Learn

|Data Science Tools|
|:-|
|Python| 
|PowerBI|
|R|
|Tableau|
|Excel|

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers:

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60:

In [3]:
200//60

3

## Author
AliAsghar Yousefian